name: Tonlib Multi Client

on: []

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Check out repository
      uses: actions/checkout@v3
      with:
        submodules: 'recursive'

    - name: Install System Libraries
      run: |
        sudo apt-get update
        sudo apt-get install -y build-essential git cmake ninja-build automake libtool texinfo autoconf libgflags-dev \
        zlib1g-dev libssl-dev libreadline-dev libmicrohttpd-dev pkg-config libgsl-dev python3 python3-dev \
        libtool autoconf libsodium-dev libsecp256k1-dev

    - name: Build TON Tonlib Multi Client
      run: |
        mkdir build
        cd build
        cmake -DCMAKE_BUILD_TYPE=Release ..
        cmake --build . --target tonlib_multiclient_lib

    - name: Build TON Tonlib Multi Client Python Binding
      run: |
        mkdir -p build
        cd build
        cmake -DCMAKE_BUILD_TYPE=Release -DPY_TONLIB_MULTICLIENT:BOOL=TRUE ..
        cmake --build . --target tonlib_multiclient_lib

    - name: Build Examples
      run: |
        mkdir -p build
        cd build
        cmake -DCMAKE_BUILD_TYPE=Release ..
        make tonlib_multiclient_promise_example_bin tonlib_multiclient_callback_example_bin tonlib_multiclient_json_example_bin tonlib_multiclient_promise_function_req_example_bin
